.sidebar-container {
    height: 90vh;
    width: 20vw;
    background-color: var(--light-silver);
    border-radius: 10px;
    padding: 0 2vh;
    box-sizing: border-box;
    position: fixed;
    top: 47px;
}
.sidebar-heading{
    font-size: 3em;
    border-bottom: 1px solid black;

}
.addNoteBtn,.LoginBtn{
    background-color: var(--cyan);
    width: 100%;
    height: 40px;
    margin:10px 0px;
    cursor:pointer;
}
.image-container{
  border-radius: 50%;
    width:50px;
    height:50px;
    background-color: red;
    position: absolute;
    bottom: 12px;
}

